
/*
    GUIDE

    01 . GENERAL

    02 . HEADER
        02.1 HEADER GENERAL
        02.2 HEADER MENU
    03 . MAIN
        03.1 MAIN INDEX (Page d'accueil)
            03.1.1 LOCATION
            03.1.2 RESERVER
            03.1.3 FONCTIONNEMENT
            03.1.4 RESTAURANT
        03.2 MAIN MENU (Page de restaurant)
            03.2.1 IMAGE PRESENTATION 
            03.2.2 MENU
    04 . FOOTER
    05 . FORMAT TABLETTE
    06 . FORMAT DESKTOP

*/



/* GENERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.logo{
    
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-size: 25px;
    font-weight: 900;
}

h2 {
    font-size: 19px;
    font-weight: 500;
}

h3 {
 font-size: 18px;
 font-weight: 400;
}

a {
    text-decoration: none;
    color: black;

}

button {
        width: 220px;
        height: 50px;
        font-size: 16px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA, #a15adc);
        border-radius: 25px;
        border: none;
        font-weight: 600;
        box-shadow: 0px 3px 4px 2px rgba(157, 157, 157, 0.3);
        &:hover{
        background: linear-gradient(to bottom right, #f54ac5, #a15adc);
        box-shadow: 0px 3px 4px 2px rgba(119, 119, 119, 0.3);
        }
}

.hover:hover{
    transform: scale(1.05);
}

/* HEADER */

/* HEADER GENERAL */
header {
    display : flex;
    padding : 20px 5% 15px 5%;
    justify-content: center;
    
    position: relative;
    .header_logo {
        width:165px;
     }

    a {
        display : flex;
        align-items: center;
        position: absolute;
        left: 20px;
        top: 25px;
    
        i {
            font-size: 20px;
        }
    }

    
     
    
}





/* MAIN */

/* MAIN INDEX */

/* LOCATION */
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0 15px 0;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 15px 5px -15px rgb(167, 167, 167);

    i {
        position: relative;
        left: -15px;
    }
}

/* RESERVER */
.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 45px 5% 55px 5%;

    h1 {
        text-align: center;
        row-gap: 15px;
        margin-bottom: 20px;
        padding: 0 25px;
    }

    p {
        text-align: center;
        margin-bottom: 35px;
    }

    button {
        
    }
}

/* FONCTIONNEMENT */
.fonction {
    padding: 65px 5% 65px 5%;

    h1 {
        margin-bottom: 30px;
    }

    &_liste{
        display: flex;
        flex-direction: column;
    }

    &_button {
        width: 325px;
        height: 75px;
        display: flex;
        align-items: center;
        background-color: rgb(246, 246, 246);
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 1px rgba(170, 170, 170, 0.25);

        &:last-child {
            margin-bottom: 0px;
            box-shadow: 0px 0px 5px 1px rgba(150, 150, 150, 0.25);

        }
        
    }

    &_num{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        background-color: #9356DC;
        color: white;
        font-size: 12px;
        position: relative;
        left: -12px;
        border-radius: 50%;
    }

    &_text{
        margin-left: 25px;
    }

    &_logo{
        margin-left: 5px;
        color: rgb(126, 126, 126);

    }

    &_button:hover{
        background-color: #f5edff;

        .fonction_logo {
            color: #9356DC;
        }
    }
}

/* RESTAURANT */
.restaurant {
    padding: 55px 5% 65px 5%;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 20px;
    }

    &_menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    &_carte {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 0px 5px 1px rgba(150, 150, 150, 0.25);

       

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &_logo{
        overflow: hidden;
        width: 100%;
        height: 175px;
        position: relative;
        
        border-radius: 10px 10px 0 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 175px;
        }
    }

    &_new{
        background-color: #99E2D0;
        position: absolute;
        width: 80px;
        height: 30px;
        top: 10px;
        right: 10px;
        color: #008766;
        border-radius: 2px;
        font-size: 13px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 25px;
        h2 {
            margin-bottom: 10px;
        }
        
    }

    &_like {
        width: 25px;
        display: flex;
        align-items: center;
        .logo {
            
            width: 25px;
            font-size: 24px;
            
            &_hover{
                display: none;
            }

            

        }
        &:hover {
            .logo {
                display: none;
                &_hover {
                    width: 25px;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    background: linear-gradient(to top right, #FF79DA,  #9356DC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;

                }
            }
            
        }
    }

     
}

/* MAIN MENU */

/* IMAGE PRESENTATION */

.a_la_francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.la_palette{
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.la_note {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.le_delice {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* MENU */

.menu {
    
    &_affiche {
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &_restaurant {
        background-color: rgb(246, 246, 246);
        padding: 40px 5% 80px 5%;
        border-radius: 30px 30px 0 0;
        margin-top: -30px;
    }

    &_titre {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;

        h1 {
            font-family: 'Shrikhand', cursive;
            font-size: 30px;
        }

        .logo {
            font-size: 25px;
            
        }
        
    }

    &_like {
        width: 25px;
        display: flex;
        align-items: center;
        .logo {
            
            width: 25px;
            font-size: 24px;
            
            &_hover{
                display: none;
            }

            

        }
        &:hover {
            .logo {
                display: none;
                &_hover {
                    width: 25px;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    background: linear-gradient(to top right, #FF79DA,  #9356DC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;

                }
            }
            
        }
    }

    &_choice {
        width: 100%;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 50px;
        }
        hr {
            width: 40px;
            border : 1.5px solid #99E2D0;
            margin-bottom: 10px;
        }

        h2 {
            margin-bottom: 5px;
        }

    }

    &_liste{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    &_plat {
        height: 70px;
        width: 325px;
        max-width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 1px rgba(150, 150, 150, 0.25);


        &:hover {
            
            cursor: pointer;
            .menu_commande {
                min-width : 60px;
                background-color: #99E2D0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 15px 15px 0;
    
                i {
                    color: white;
                }
               
            }
            
        }

        
    }

    &_details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        min-width: 25%;
        padding: 15px 15px 15px 10px ;
    }

    &_prix {
        min-width: 30px;
        width:30px;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &_description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 80%;
        width: 100%;

        h3, div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        h3 {
            font-size: 15px;
        }

        div {
            font-size: 12px;
        }
    }

    &_commande{
        display:none;
       
        
    }

    &_button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOOTER */
footer {
    width: auto;
    padding: 25px 5% 40px 5%;
    background-color: rgb(34, 34, 34);
    color: white;

    img {
        width: 100px;
        margin-bottom: 25px;
    }

    li {
        list-style-type: none;
        margin-bottom: 10px;

        img {
            width: 16px;
            height: 16px;
            margin: 0 8px 0 0;
        }


        &:last-child{
            margin-bottom: 0px;
        }

        a {
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* FORMAT TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) {
    .fonction {
        &_liste{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px 15px;

        }

    }


    .restaurant {
        &_menu {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px 10px;
        }

        &_carte {
            width: 275px;
            margin-bottom: 0px;
        }

        &_logo {
            width: 275px;

            img {
            width: 275px;
            }
        }


    }
    .menu {
        &_restaurant {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &_choice {
            width: 340px;

            h2, hr {
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
         
        &_titre{
            width: 100%;
            justify-content: center;

            h1 {
                margin-right: 20px;
            }

        }

        &_check{
            width:100%;
        }

    }
}

/* FORMAT DESKTOP */
@media (min-width: 1024px){

    .fonction {
        &_liste{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px 15px;

        }

    }


    .restaurant {
        &_menu {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px 15px;
        }

        &_carte {
            width: 275px;
            margin-bottom: 0px;
        }

        &_logo {
            width: 275px;

            img {
            width: 275px;
            }
        }


    }

    .menu {
        &_restaurant {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }

        &_choice {
            width: 400px;

            h2, hr {
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
         
        &_titre{
            width: 100%;
            justify-content: center;

            h1 {
                margin-right: 20px;
            }

        }

        &_check{
            width:100%;
        }

    }
    
    
    
}
